<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body id="content">
    <h1 class="heading">Movie Recommendation System</h1>
    <center><input type="text" name="movie_search" placeholder="Enter the movie name" id="searching" /></center>
    <center><input type="submit" value="Enter" id="button" /></center>
</body>

</html>